body {
    background-color: blanchedalmond;
}

.first { grid-area: first; }
.second { grid-area: second; }
.third { grid-area: third; }
.fourth { grid-area: fourth; }
.fifth { grid-area: fifth; }
.sixth { grid-area: sixth; }
.seventh { grid-area: seventh; }
.eighth { grid-area: eighth; }

.container {
    width: 400px;
    height: 768px;
    background-color: white;
    margin: 0 auto;
}

.restart {
    width: 32px;
    align-items: flex-start;
}
.picture {
display: block;
width: 33.3%;
margin: 10% auto 40px auto;
}

#upper {
    display: grid;
    grid-template-areas:
    "first second third";
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
}

#lower {
    display: grid;
    
    grid-template-areas:
        "fourth"
        "fifth"
        "sixth"
        "seventh"
        "eighth";
}

#lower > .cell {    
    display: flex;
    width: 80%;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 5px 5px 5px #888888;
    cursor: pointer;
}

.box {
    display: flex;
    align-items: center;
}

.first {
    display: inline;
    margin-left: 10px;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third {
    display: flex;
    justify-content: right;
    align-items: center; 
    margin-right: 10px;
}

.fourth {
    color: darkblue;
    font-family: fantasy;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    margin-bottom: 25px;
}

p {
    text-align: right;
    font-size: 0.8em;
    font-style: oblique;
    margin-right: 15px;
    margin-top: 50px;
    color: brown;
    cursor: pointer;
}

.red {
    color: red;
}

.green {
    color: green;
}

.hide {
    display: none;
}
/*
@media (max-width: 576px) {
    .container {
    grid-template-areas:
        "first"
        "second"
        "third"
        "fourth"
        "fifth"
        "sixth"
        "seventh"
        "eighth"
        "ninth";
    }
}
*/
